{
  "name": "sample-docker-project",
  "source": {
    "type": "GITHUB",
    "location": "https://github.com/{{YOUR_USERNAME}}/{{YOUR_REPOSITORY}}.git"
  },
  "artifacts": {
    "type": "NO_ARTIFACTS"
  },
  "environment": {
    "type": "LINUX_CONTAINER",
    "image": "aws/codebuild/docker:17.09.0",
    "computeType": "BUILD_GENERAL1_MEDIUM",
    "environmentVariables": [
      {
        "name": "AWS_DEFAULT_REGION",
        "value": "ap-northeast-1"
      },
      {
        "name": "AWS_ACCOUNT_ID",
        "value": "{{YOUR_AWS_ACCOUNT_ID}}"
      },
      {
        "name": "IMAGE_REPO_NAME",
        "value": "{{YOUR_ECR_REPOSITORY_NAME}}"
      },
      {
        "name": "IMAGE_TAG",
        "value": "latest"
      }
    ]
  },
  "serviceRole": "arn:aws:iam::{{YOUR_AWS_ACCOUNT_ID}}:role/{{YOUR_ROLE_NAME}}"
}
